{% extends './base.html' %}

{% block title %} Lenguajes {% endblock %}

{% block body %}
<div class="row">
<div class="col-md-6 offset-md-3">
    <h4> Lenguajes</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;
                    vertical-align: middle;">#</th>
                    <th style="text-align: center;
                    vertical-align: middle;">Lenguajes</th>
                </tr>
            </thead>
            <tbody>
               {% for leng in lenguajes %} 
               <tr>
                <td style="text-align: center;
                vertical-align: middle;">{{loop.index}}</td>
                <td style="text-align: center;
                vertical-align: middle;">{{leng}}</td>
               </tr>
               {%endfor%}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}